# Support Vector Regresson Tutorials

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# load dataset
salary = pd.read_csv('Position_Salaries.csv')

In [5]:
salary

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [7]:
# Labelling
X = salary.iloc[:, :-1]
y = salary.iloc[:, -1]

In [11]:
y = y.reshape()

AttributeError: 'Series' object has no attribute 'reshape'

# Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)